[submodule "util/modified_cbmc"]
	path = util/modified_cbmc
	url = https://github.com/parttimenerd/cbmc
	branch = modified_cbmc
[submodule "util/relationscutter"]
	path = util/relationscutter
	url = https://github.com/parttimenerd/relationscutter
